* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  /* Define a altura total da página para ser a altura da viewport */
  font-family: Arial, sans-serif;
}

.header {
  padding: 10px 0;
  text-align: center;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: row;
  /* Coloca os elementos filhos lado a lado horizontalmente */
  height: calc(100vh - 50px);
  /* Ajusta a altura para descontar apenas o cabeçalho */
}

.menu-section {
  flex: 1;
  /* Ocupa o espaço restante depois de definir o .order-section */
  overflow-y: auto;
  background-color: #f0f0f0;
}

.order-section {
  width: 30%;
  /* Define a largura da seção de pedidos para 30% */
  height: calc(100vh - 50px);
  /* Ajusta a altura para ser a mesma do container */
  overflow-y: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.order-items {
  flex-grow: 1;
  /* Permite que a lista de itens cresça para ocupar o espaço disponível */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  table-layout: fixed;
  /* Adicionado para permitir que a largura das colunas seja fixa */
  border-collapse: collapse;
}

.order-items tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 50px;
}

.order-items thead th {
  text-align: left;
  /* Alinha o texto à esquerda */
  border: 1px solid #000;
}

.order-items td {
  width: 25%;
  text-align: left;
  border: 1px solid #000;
}

.order-items tr:nth-child(even) {
  background-color: #f2f2f2;
}

.delete-button {
  width: 100%;
  /* Aumenta a largura do botão */
  height: 100%;
  /* Aumenta a altura do botão */
}

.order-total {
  padding: 20px;
  /* Aumente o padding para dar mais espaço */
  background: #fff;
  border-top: 1px solid #ccc;
  text-align: center;
  /* Centraliza o conteúdo */
}

.order-total #total {
  display: block;
  /* Faz o span se comportar como um bloco */
  font-size: 24px;
  /* Aumenta o tamanho da fonte do total */
  margin-bottom: 20px;
  /* Adiciona espaço entre o texto do total e o botão */
}

#total,
#print-button {
  display: block;
  /* Força que cada elemento ocupe a sua própria linha */
  width: 100%;
  /* Faz o botão se estender por toda a largura */
  margin-bottom: 10px;
  /* Espaçamento abaixo do botão */
}

#print-button {
  padding: 10px 0;
  /* Aumenta o padding vertical para aumentar o botão */
  font-size: 20px;
  /* Aumenta o tamanho da fonte do botão */
  cursor: pointer;
  /* Muda o cursor para indicar que é clicável */
  background-color: #4CAF50;
  /* Cor de fundo do botão */
  color: white;
  /* Cor do texto do botão */
  border: none;
  /* Remove a borda do botão */
  border-radius: 5px;
  /* Adiciona bordas arredondadas ao botão */
}

#print-button-qtd {
  display: block;
  /* Força que cada elemento ocupe a sua própria linha */
  width: 100%;
  /* Faz o botão se estender por toda a largura */
  margin-bottom: 10px;
  /* Espaçamento abaixo do botão */
}

#print-button-qtd {
  padding: 10px 0;
  /* Aumenta o padding vertical para aumentar o botão */
  font-size: 20px;
  /* Aumenta o tamanho da fonte do botão */
  cursor: pointer;
  /* Muda o cursor para indicar que é clicável */
  background-color: blue;
  /* Cor de fundo do botão */
  color: white;
  /* Cor do texto do botão */
  border: none;
  /* Remove a borda do botão */
  border-radius: 5px;
  /* Adiciona bordas arredondadas ao botão */
}

.footer-bar {
  padding: 5px;
  background: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* Cria o número máximo de colunas que cabem, cada uma com largura mínima de 150px */
  gap: 10px;
  /* Espaçamento entre os botões */
  padding: 10px;
  /* Espaçamento interno do contêiner */
  height: calc(100vh - 50px - 20px);
  /* Altura ajustada para o conteúdo */
  overflow-y: auto;
  /* Adiciona rolagem vertical se necessário */
}

.button-container button {
  padding: 10px;
  font-size: 1.2rem;
  /* Tamanho inicial da fonte */
  white-space: normal;
  /* Permite que o texto quebre em múltiplas linhas */
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.button-container button span {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  /* Centraliza o texto dentro do span */
}
.button-container button:active,
.button-container button:hover {
  font-size: calc(1.2rem - 0.2rem);
  /* Reduz o tamanho da fonte um pouco ao passar o mouse */
}

@media screen and (max-width: 600px) {
  .button-container button {
    font-size: 1rem;
    /* Reduz o tamanho da fonte para telas menores */
  }
}

.button-container button:hover {
  background-color: #e0e0e0;
  /* Cor de fundo ao passar o mouse */
}